@model EthioProcure.Models.Bid

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blackness">
    <h2>
        <span>
            <img style=" height: 75px; width: 100px;
             border: 10px groove white;"
                 src="@Url.Action("getLogo", new { id= Model.BidId} )" />
        </span>
        @Html.DisplayFor(model => model.contractor.organizationName)
    </h2>

    <h3>Bid for @Html.DisplayFor(model => model.tender.projectTitle)</h3>

    <div>


        @Html.ActionLink("Evaluate Bid", "Create", "EvaluateBids", new { id = Model.BidId }, new { @class = "btn btn-toolbar" })

        <h3>Technical Proposal</h3>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h4>
                    @Html.DisplayNameFor(model => model.contractor.description)
                </h4>

                <p>
                    @Html.DisplayFor(model => model.contractor.description)
                </p>

                <h4>
                    @Html.DisplayNameFor(model => model.contractor.contractorLevel)
                </h4>

                <p>
                    @Html.DisplayFor(model => model.contractor.contractorLevel)
                </p>

                <h4>
                    @Html.DisplayNameFor(model => model.contractor.contractorType)
                </h4>

                <p>
                    @Html.DisplayFor(model => model.contractor.contractorType)
                </p>

                <h4>
                    @Html.DisplayNameFor(model => model.methodology)
                </h4>

                <p>
                    @Html.DisplayFor(model => model.methodology)
                </p>

                <h4>
                    @Html.DisplayNameFor(model => model.implementationPlan)
                </h4>

                <p>
                    @Html.DisplayFor(model => model.implementationPlan)
                </p>

                <h4>
                    @Html.DisplayNameFor(model => model.workSchedule)
                </h4>

                <p>
                    @Html.DisplayFor(model => model.workSchedule)
                </p>

            </div>

            <div class="col-md-6">
                <img style=" margin-left:25%; margin-right: 25%;
             height: 400px;"
                     src=" @Url.Action("getOrgStruct", new { id = Model.BidId }) " />

                <br>
                <h3>Contact us</h3>
                <table class="table table-hover table-striped table-responsive table-bordered">
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.contractor.email)</td>
                        <td>@Html.DisplayFor(model => model.contractor.email)</td>
                    </tr>
                    <tr>
                        <td>@Html.DisplayNameFor(model => model.contractor.telephone)</td>
                        <td>@Html.DisplayFor(model => model.contractor.telephone)</td>
                    </tr>
                </table>

                <br>
                <h4>Annual Turnover</h4>
                <table class="table table-striped table-hover table-bordered">
                    <tr>
                        <th>Year</th>
                        <th>Amount and Currency</th>
                    </tr>
                    <tbody id="newRowAt"></tbody>
                </table>
                @Html.EditorFor(model => model.contractor.annualTurnover, new { htmlAttributes = new { @class = "hiddenInputAt" } })

            </div>
        </div>

        <div>
            <br>
            <h4>Files</h4>
            <table class="table table-hover table-striped table-responsive table-bordered">
                <tr>
                    <th>File Description</th>
                    <th>File Name</th>
                    <th>Download</th>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.tinReg)</td>
                    <td>@Html.DisplayFor(model => model.contractor.tinName)</td>
                    <td>
                        <a href="@Url.Action("download/tr", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.businessLicence)</td>
                    <td>@Html.DisplayFor(model => model.contractor.blName)</td>
                    <td>
                        <a href="@Url.Action("download/bl", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.certificateOfCompetency)</td>
                    <td>@Html.DisplayFor(model => model.contractor.cocName)</td>
                    <td>
                        <a href="@Url.Action("download/coc", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.auditReport)</td>
                    <td>@Html.DisplayFor(model => model.contractor.arName)</td>
                    <td>
                        <a href="@Url.Action("download/ar", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.machinaryCertificate)</td>
                    <td>@Html.DisplayFor(model => model.contractor.mcName)</td>
                    <td>
                        <a href="@Url.Action("download/mc", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.staffCV)</td>
                    <td>@Html.DisplayFor(model => model.contractor.scName)</td>
                    <td>
                        <a href="@Url.Action("download/sc", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.performanceletter)</td>
                    <td>@Html.DisplayFor(model => model.contractor.plName)</td>
                    <td>
                        <a href="@Url.Action("download/pl", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.taxClearance)</td>
                    <td>@Html.DisplayFor(model => model.contractor.taxClrName)</td>
                    <td>
                        <a href="@Url.Action("download/tc", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.vatRegistration)</td>
                    <td>@Html.DisplayFor(model => model.contractor.vatRagName)</td>
                    <td>
                        <a href="@Url.Action("download/vr", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.contractor.fppaReg)</td>
                    <td>@Html.DisplayFor(model => model.contractor.fppaRegName)</td>
                    <td>
                        <a href="@Url.Action("download/fr", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.bidSecurity)</td>
                    <td>@Html.DisplayFor(model => model.bsName)</td>
                    <td>
                        <a href="@Url.Action("download/bs", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.certificateOfSiteVisit)</td>
                    <td>@Html.DisplayFor(model => model.csvName)</td>
                    <td>
                        <a href="@Url.Action("download/csv", new { id= Model.contractor.OrganizationId} )" class="btn btn-toolbar">
                            Download File
                        </a>
                    </td>
                </tr>
            </table>

            <br />
            <h4>Proofessional Qualifications</h4>
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Qualifications</th>
                    <th>Years of Experience</th>
                    <th>Years in Proposed Position</th>
                </tr>
                <tbody id="newRowEmp"></tbody>
            </table>
            @Html.EditorFor(model => model.contractor.empTable, new { htmlAttributes = new { @class = "hiddenInputEmp" } })

            <br>
            <h4>Equipment Capabilities</h4>
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>No.</th>
                    <th>Description</th>
                    <th>Power/Capacity</th>
                    <th>No. of Units</th>
                    <th>Agr of use</th>
                    <th>Source of Equipment</th>
                    <th>Current Location</th>
                </tr>
                <tbody id="newRowEqi"></tbody>
            </table>
            @Html.EditorFor(model => model.contractor.machEquipTable, new { htmlAttributes = new { @class = "hiddenInputEqi" } })
        </div>

        <br />
        <h3>Financial Proposal</h3>
        <hr>
        <h3>Bill of Quantity</h3>
        <br />
        <table id="fullTbl" class="table table-striped table-hover table-bordered">
            <tr>
                <th>No.</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Unit Rate</th>
                <th>Total Amount</th>
                <th>Unit Rate Point</th>
            </tr>
            <tbody id="newRow"></tbody>
        </table>
        @Html.EditorFor(model => model.completedBillofQuantity, new { htmlAttributes = new { @class = "hiddenInput" } })

        <div>
            <div class="col-md-8"></div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>SubTotal: </dt>
                    <dd id="sub"></dd>
                    <dt>VAT: </dt>
                    <dd>15%</dd>
                    <dt>Total Bid: </dt>
                    <dd id="tot"></dd>
                </dl>
            </div>
        </div>

    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", new { Model.TenderId })
    </p>
</div>


@section Scripts {
<script>
    $(function () {

        //Retrive table in the form of a string
        var str = $(".hiddenInput").val();
        
        //To parse a string to js obj parse twice
        var back = JSON.parse(str);
        var twice = JSON.parse(back);

        var res = '';
        var total = 0;
        var subTot = 0;
        $.each(twice, function (i, j) {
            res += '<tr>';
            $.each(twice[i], function (j) {
                if (j == 5) {
                    total = twice[i][3] * twice[i][4];
                    res += '<td>' + total + '</td>';
                    subTot+= total;
                }
                else
                    res += '<td>' + twice[i][j] + '</td>';
            });
            res += '</tr>';
        });

        var totBid = subTot * 0.15;
        $('#newRow').append(res);
        $('#sub').append(subTot);
        $('#tot').append(totBid);

    });

    $(function () {
        //Retrieve Professional Qualification Table
        //Retrive table in the form of a string
        var str = $(".hiddenInputEmp").val();

        //To parse a string to js obj parse twice
        var back = JSON.parse(str);
        var twice = JSON.parse(back);

        var res = '';
        $.each(twice, function (i, j) {
            res += '<tr contenteditable="true">';
            $.each(twice[i], function (j) {
                res += '<td>' + twice[i][j] + '</td>';
            });
            res += '</tr>';
        });

        $('#newRowEmp').append(res);

        //Retrieve Equipment Capabilities Table
        //Retrive table in the form of a string
        str = $(".hiddenInputEqi").val();

        //To parse a string to js obj parse twice
        back = JSON.parse(str);
        twice = JSON.parse(back);

        res = '';
        $.each(twice, function (i, j) {
            res += '<tr contenteditable="true">';
            $.each(twice[i], function (j) {
                res += '<td>' + twice[i][j] + '</td>';
            });
            res += '</tr>';
        });

        $('#newRowEqi').append(res);

        //Retrieve Annual Turnover Table
        //Retrive table in the form of a string
        str = $(".hiddenInputAt").val();

        //To parse a string to js obj parse twice
        back = JSON.parse(str);
        twice = JSON.parse(back);

        res = '';
        $.each(twice, function (i, j) {
            res += '<tr contenteditable="true">';
            $.each(twice[i], function (j) {
                res += '<td>' + twice[i][j] + '</td>';
            });
            res += '</tr>';
        });

        $('#newRowAt').append(res);

    });
</script>
}