@model IEnumerable<EthioProcure.Models.Contractor>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="blackness">
    <h2>Contractors</h2>
    <br />

    <table class="table table-hover table-striped table-responsive">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.organizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contractorLevel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.contractorType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr onclick="window.location='@Url.Action("Details", new { id= item.OrganizationId} )'">
                <td>
                    @Html.DisplayFor(modelItem => item.organizationName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.contractorLevel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.contractorType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>

            </tr>
        }

    </table>
</div>

